.candidates {
  background-image: url("../../public//img/ballot-page.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.candidates-box {
  width: 90%;
  height: 100%;
  padding: 20px;
}

.topic {
  height: 40%;
  font-size: 35px;
  font-weight: 600;
  /* line-height: 72px; */
  background: linear-gradient(0deg, #67c900 22.13%, #67c900 97.12%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
/* background: linear-gradient(0deg, #000000, #000000),
  linear-gradient(0deg, #67c900, #67c900); */

.text-2 {
  /* font-family: Poppins; */
  font-size: 15px;
  height: 20%;
  font-weight: 300;
  text-align: left;
  color: #f4f4f4;
  margin-top: 10px;
}

.text-3 {
  height: 20%;
  /* font-family: Montserrat; */
  /* font-size: 64px; */
  font-weight: 400;
  text-align: left;
  color: #ffffff;
}

.text-3-span {
  /* font-family: Montserrat; */
  /* font-size: 64px; */
  font-weight: 600;
  /* line-height: 78.02px; */
  text-align: left;
}

.next_button {
  padding: 10px;
  margin-top: 15px;
  border-radius: 7px;
  background: linear-gradient(
    90deg,
    rgba(18, 117, 1, 0.98) 0%,
    rgba(32, 205, 2, 0.98) 100%
  );
  color: white;
  font-weight: 800;
  border: none;
  width: 300px;
}
